*.pyc
*.log
node_modules
coverage/
arches_resource_sets/logs
arches_resource_sets/export_deliverables
arches_resource_sets/cantaloupe/*
arches_resource_sets/staticfiles
arches_resource_sets/media/packages
arches_resource_sets/media/build/
arches_resource_sets/uploadedfiles/*
arches_resource_sets/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
